html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul,li, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}


.container {
    background: #f7f7ff;
}

a img {
    height: 45px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    left: 0.4rem;
}

.quinze {
    display: none;
    position: absolute;
    top: 7rem;
    left: 8.4rem;
}

.quinze2 {
    border-radius: 60%;
    display: none;
    position: absolute;
    top: 37rem;
    left: 7.6rem;
}


header{
    height: 70px;
    background: linear-gradient(200deg, rgba(0, 0, 34, 0.878),rgba(0, 0, 0, 0.37));;
    box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

ul {
    display: flex;
    
}

ul li {
    margin-left: 50px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: arial;
    font-size: 15px;
    letter-spacing: 1px;
}


.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 70px;

}

.header-cabecalho {
  padding-left: 120px;

}

#teste {
  height: 230vh;
  width: 150px;
  background: rgba(211, 211, 211, 0.2);
  position: absolute;
  top: 12.5%;
  left: 0%;
  
}

.user {
  border-radius: 100%;
  margin-left: 250px;
}

.user2 {
  color: white;
  padding: 8px;
  font-size: 12px;
}


#teste span {
 color: rgba(0, 0, 0, 0.685);
 display: block;
 margin: 20px auto;
 text-align: center;
 letter-spacing: 2px;
 cursor: pointer;
}

#teste img {
  display: block;
 margin: 20px auto;
 text-align: center;
  width: 28px;
  height: 24px;
  

}


h2 {
    text-align: center;
    margin-top: 13px;
    position: relative;
    bottom: 0.5rem;
    color: #474a51;
}

.produtos {
    margin-left: 30px;
    height: 23rem;
    width: 13rem;
    background-color: #f9f9f9;
    border: 2px solid #f0f0f0;
    
}


.produtos:hover {
  padding-top: 0.5rem;
}

h3 {
    text-align: center;
}

.cartoes {
    margin-top: -45px;
    cursor: pointer;
}


figcaption {
  margin-top: 6px;
    text-align: center;
}

img {
  cursor: pointer;
}

.little {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: line-through;
}


img {
  max-width: 100%;
  display: block;
}

#teste span:hover {
  color: rgba(78, 68, 68, 0.466);

}

.big {
    margin-left: 10px;
}

.estrela {
    margin-top: 5px;
    margin-left: 8px;
}

.prestacao {
    font-size: 11px;
    margin-left: 8px;
}

.rodape a:hover {
    color: rgb(223, 100, 223);
}

#comprar {
    height: 26px;
    width: 170px;
    margin: 9px 20px;
    border: none;
    background-color: #39b701;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: rgb(44, 70, 73);
    transition: 0.5s;
    font-size: 16px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    line-height: 4;
    background-color: rgba(204, 255, 204, 0.253);
}

footer p, a {
    color: purple;
    margin-left: 20px;
    transition: 0.5s;
}

@media (min-width: 280px) and (max-width: 768px) {

    header {
        width: 48rem;
    }

    .container {
        width: 48rem;
    }
     li {
        display: none;
    }

    .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

footer {
  width: 100%;
}

}

@media (min-width: 769px) and (max-width: 1100px) {

    header {
        width: 68rem;
    }

    .container {
        width: 68rem;
    }
     li {
        display: none;
    }

    .product {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        justify-content: center;
        align-items: center;
        margin-left: 175px;

    }
}